@{
    ViewData["Title"] = "Marki";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="repair-view">
    <input type="button" class="btn btn-outline-dark btn-lg btn-block btn-repairs" value="Dodaj markę urządzenia" onclick="@("window.location.href='" + @Url.Action("Manage", "Marks") + "'");" />
    <br />
    <table id="tblData" class="table table-bordered text-dark" style="width:100%">
        <thead>
            <tr class="bg-dark text-light">
                <th>Nazwa marki</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/marks.js"></script>
}

