@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>Usuń konto</h4>

<div class="row">
    <div class="col-md-6">
        <p>Twoje konto oraz powiązane z nim zgłoszenia zostają usunięte.</p>
        <p>
            <strong>Usuwając swoje konto nie będzie możliwości przywrócenia!</strong>
        </p>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Usuń</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
