@model RepairApp.Models.ViewModels.RepairViewModel

@{
    ViewData["Title"] = "Dodaj typ urządzenia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (@Model.DeviceType.Id == null)
{
    <h1 class="h1-repair">Dodaj typ urządzenia</h1>
}
else
{
<h1 class="h1-repair">Edytuj typ urządzenia</h1>
}

<div class="repair-add">
    <hr />
    <div class="row">
        <div class="col-md-7 repair-add-child">
            <form asp-action="Manage">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @if (Model.DeviceType.Id != null)
                {
                    <input type="hidden" asp-for="DeviceType.Id" />
                }
                <div class="form-group">
                    <label asp-for="DeviceType.DeviceName" class="control-label">Nazwa urządzenia</label>
                    <input asp-for="DeviceType.DeviceName" class="form-control">
                    <span asp-validation-for="DeviceType.DeviceName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DeviceType.TransportCost" class="control-label">Koszt wysyłki</label>
                    <input asp-for="DeviceType.TransportCost" class="form-control">
                    <span asp-validation-for="DeviceType.TransportCost" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col">
                        @if (Model.DeviceType.Id == null)
                        {
                            <button type="submit" class="btn btn-success form-control">Dodaj</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-danger form-control">Aktualizuj</button>
                        }
                    </div>
                    <div class="col">
                        <a asp-action="Index" class="btn btn-info form-control">Powrót</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
