@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<section class="register-conf">
    <h1>
        Zmiana email zatwierdzona
    </h1>
    <hr />
    <h2> Możesz zalogować się poprzez nowy email.</h2>
</section>
