@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Potwierdzenie rejestracji";
}
<section class="register-conf">
    <h1>
        Dziękujemy za rejestrację!
    </h1>
    <hr />
    <h2> Został ostatni krok, zaloguj się na podaną pocztę i kliknij w link aby potwierdzić rejestrację.</h2>
</section>
